@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.add-comments,
.entry-form {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.entry-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 48.5vw;
    height: 10vh;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
}

input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button {
    border: none;
    width: 50vw;
    height: 5vh;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(1, 1, 68);
    cursor: pointer;
    margin-bottom: 50px;
    color: white;
}

button:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.show {
    text-align: center;
    width: 50vw;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.show p {
    padding: 10px 5px 10px 5px;
    font-size: 20px;
}

.comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.comments p {
    width: 70%;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.comments .icons {
    width: 30%;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.divider {
    margin-bottom: 50px;
}

.modal {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.open {
    filter: blur(200px);
    -webkit-filter: blur(200px);
}

.modal-head {
    color: white;
}

.modal-head span {
    background-color: white;
    padding: 5px 10px 5px 10px;
    color: black;
    border-radius: 10px;
    margin-left: 10px;
}
